@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kay+Pho+Du:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Robot", sans-serif;
}

html {
  background: #111;
}

body {
  width: 100%;
  min-height: 100vh;
  /* background: linear-gradient(135deg, #a185ff, #c285ff, #a1e2ff); */
  background-image: url("https://images.unsplash.com/photo-1464014449614-e470468e3ec1?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTB8fHxlbnwwfHx8fHw%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.vertical-divider {
  width: 1px;
  height: 100%;
  content: '';
  background-color: rgba(255, 255, 255, 0.4);
}

.container {
  padding: 1rem 0;
  margin: auto;
  width: 100%;
  min-height: 100vh;
  max-width: 996px;
}

.overlay {
  width: 100%;
  height: 100%;
}

.overlay header h1 {
  /* font-family: "Orbitron"; */
   font-family: "JetBrains Mono", monospace;
  font-size: 56px;
  font-weight: 500;

  /* Text Gradient */
  /* background: -webkit-linear-gradient( */
  /*   117deg, */
  /*   rgba(87, 129, 236, 1) 0%, */
  /*   rgba(173, 110, 177, 1) 62%, */
  /*   rgba(212, 102, 119, 1) 100% */
  /* ); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */

  color: #fff;
  text-align: center;

  margin-bottom: 2rem;
  filter: drop-shadow(2px 2px 10px rgba(87, 129, 236, 0.9));
}

.chat-container {
  overflow-y: auto;
  overflow-x: clip;
  padding: 5rem 0rem;

  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: auto;
  max-height: 65%;
}

.user-message,
.response-message {
  max-width: 80%;
  padding: 12px;
  border-radius: 20px;
  color: #fff;

  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;

  margin-left: 30px;
  margin-right: 30px;
  box-shadow: rgb(93, 93, 93) 1px 1px 1px;
  background: linear-gradient(135deg,rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  transition: all 300ms ease-out;
}

.user-message {
  background-color: #1272b6;
  align-self: flex-end;
  border-bottom-right-radius: 2px;
  padding-left: 20px;
  padding-right: 20px;
}

.response-message {
  /* background-color: #464640; */
  background-color: #111;
  align-self: flex-start;
  border-bottom-left-radius: 2px;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(
  135deg,
  rgba(255, 255, 255, 0.1),
  rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.response-message p {
  max-width: 100%;
  text-wrap: wrap;
  overflow-wrap: anywhere;
}

.content-container {
  position: fixed;
  inset: 0;
  top: auto;
  margin: 0rem 0.5rem;
  margin-bottom: 1rem;
  z-index: 100;
}  

.content {
  margin: 0px auto;
  background-color: #303030;
  border-radius: 12px;
  padding: 1rem;
  height: 4rem;
  max-width: 996px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.content > input {
  width: auto;
  flex: 1 1 0%;
  height: 2rem;
  background: transparent;
  color: #fff;
  font-size: 16px;
  resize: none;
  border: none;
  outline: none;
}

.content div[role='button'], .content button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 3rem;
}

.content label[for='stream'] {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items:center;
  gap: 0.5rem;
  font-size: 12px;
}

.content input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
}

.icon {
  cursor: pointer;
  font-size: 22px;
  transition: all 100ms ease-out;
}
.icon, .icon * {
  color: #fff;
} 

.icon:hover {
  background: gray;
  border-radius: 50%;
}

.content > button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.uploadImageAudio {
  border: 2px solid black;
  border-radius: 50%;
}
